<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Photo Gallery - IronHack 2024</title>
    <%- include("./partials/head") %>
  </head>

  <body>
    <!-- add classes for CSS later -->
    <header class="container">
      <%- include("./partials/nav") %>
    </header>

    <!-- add classes for CSS later -->
    <section style="display: flex; gap: 20px">
      <% images.forEach(i => { %>
      <article style="width: 300px">
        <p><%= i.title %></p>
        <img
          src="<%= i.link %>"
          alt="An image with the following title: <%= i.title %>"
        />
        <div><%= i.date %></div>
        <p><%= i.tag %></p>
      </article>
      <% }) %>
    </section>

  </body>
</html>
