<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Photo Gallery - IronHack 2024</title>
    <%- include("./partials/head") %>
    <script src="home.js"></script>
  </head>

  <body>
    <header class="container"><%- include("./partials/nav") %></header>

    <main class="container">
      <% if (images.length == 0) { %>
      <p class="add-image-message">
        There are no images in the gallery at the moment.
        <a href="/add-image-form">Add one now.</a>
      </p>
      <% } else { %>
      <p class="add-image-message">
        Number of images in the gallery: <%= images.length %>
      </p>
      <% } %>

      <section class="grid">
        <% images.forEach((i, index) => { %>
        <article class="image-container">
          <header class="title">
            <%= i.title.toUpperCase() %>
            <button class="delete-button" onclick="deleteImage(<%= index %>)">
              x
            </button>
          </header>
          <div class="image-div">
            <img
              src="<%= i.link %>"
              alt="An image with the following title: <%= i.title %>"
            />
          </div>
          <div class="date"><%= i.date %></div>
          <div class="category"><%= i.category %></div>
          <div class="color-info-container">
            <div class="rgb">rgb: <%= i.colorText %></div>
            <div
              class="color-box"
              style="background-color: rgb(<%= i.color %>)"
            ></div>
          </div>
        </article>
        <% }) %>
      </section>
    </main>
  </body>
</html>
