<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Photo Gallery - IronHack 2024</title>
    <%- include("./partials/head") %>
    <script src="home.js"></script>
  </head>

  <body>
    <header class="container">
      <%- include("./partials/nav") %>
      <div class="search-form-container container"></div>
    </header>

    <main class="container main-container">
      <% if (images.length == 0) { %>
      <p class="add-image-message">
        There are no images in the gallery at the moment.
        <a href="/add-image-form">Add one now.</a>
      </p>
      <% } else { %>
      <div class="search-form-container container mobile-view">
        <div class="form-mobile-view">
          <form action="/search" method="get">
            <input
              type="text"
              name="title"
              placeholder="search by title here ..."
            />
            <button type="submit">Search</button>
          </form>
        </div>
      </div>
      <p class="add-image-message">
        Number of images in the gallery: <%= images.length %>
      </p>
      <% } %>

      <section class="grid">
        <% images.forEach((i, index) => { %>
        <article class="image-container">
          <header class="image-title">
            <%= i.title.toUpperCase() %>
              <form action="/images/<%= i.id %>/delete" method="post">
                <input class="image-delete-button" type="submit" value="x" />
              </form>
          </header>
          <div class="image-div">
            <img
              src="<%= i.link %>"
              alt="An image with the following title: <%= i.title %>"
            />
          </div>
          <div class="image-date"><%= i.date %></div>
          <div class="image-category"><%= i.category %></div>
          <div class="image-color-info-container">
            <div class="image-rgb">rgb: <%= i.colorText %></div>
            <div
              class="color-box"
              style="background-color: rgb(<%= i.color %>)"
            ></div>
          </div>
        </article>
        <% }) %>
      </section>
    </main>
  </body>
</html>
