<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <title>Image Gallery - IronHack 2024</title>
    <!-- template partial -->
    <%- include("./partials/head") %>
  </head>

  <body>
    <header class="container">
<nav>
  <ul>
    <li><a href="/" class="link-not-decorated"><strong>IMAGE GALLERY</strong></a></li>
  </ul>
  <li class="mobile-view" style="padding-right: 0;">
    <details class="dropdown">
      <summary>Options</i>
      </summary>
      <ul dir="rtl">
        <li><a href="/">Show Images</a></li>
        <li><a href="/add-image-form">Add Image</a></li>
        <li><a href="/add-category">Add Category</a></li>
      </ul>
    </details>
  </li>
  <ul class="not-mobile-view nav-options-not-mobile-view">
    <li><a href="/">Show Images</a></li>
    <li><a href="/add-image-form">Add Image</a></li>
    <li><a href="/add-category">Add Category</a></li>
    <li class="search-form-li-not-mobile-view">
      <form class="search-form-not-mobile-view" action="/search" method="get">
        <div class="input-not-mobile-view">
          <input
            type="text"
            name="title"
            style="height: 50px;"
            placeholder="Search by title here ..."
          />
        </div>
        <div>
          <button style="height: 49.5px;" class="button-not-mobile-view" type="submit">Search</button>
        </div>
      </form>
    </li>
  </ul>
</nav>

      <div class="search-form-container container"></div>
    </header>

    <main class="container main-container">
      <% if (images.length == 0 && messageToBeSent == undefined ) { %>
      <p class="add-image-message">
        There are no images in the gallery at the moment.
      </p>
      <p class="add-image-message">
        <a href="/add-image-form">Add an image now.</a>
      </p>
      <% } else if (images.length == 0 && messageToBeSent == true ) { %>
        <p class="add-image-message">
          There are no images in the gallery with that title. 
        </p>
        <p class="no-image-message">
          <a href="/">Go back</a> to the gallery or search again.
        </p>
        <% } else if (images.length > 0 && messageToBeSent == true ) { %>
          <p class="add-image-message">
            Number of returned search results: <%= images.length %>
          </p>
          <% }else { %>
      <div class="search-form-container container mobile-view">
        <div class="form-mobile-view">
          <form action="/search" method="get">
            <input
              type="text"
              name="title"
              placeholder="Search by title here ..."
            />
            <button type="submit">Search</button>
          </form>
        </div>
      </div>
      <p class="add-image-message">
        Number of images in the gallery: <%= images.length %>
      </p>
      <% } %>

      <section class="grid">
        <% images.forEach((i) => { %>
        <article class="image-container">
          <header class="image-title">
            <%= i.title.toUpperCase() %>
              <form action="/images/<%= i._id %>/delete" method="post">
                <input style="margin: 0;" class="image-delete-button" type="submit" value="x" />
              </form>
          </header>
          <div class="image-div">
            <img
              src="<%= i.link %>"
              alt="An image with the following title: <%= i.title %>"
            />
          </div>
          <div class="image-date"><%= i.date %></div>
          <div class="image-category"><%= i.category %></div>
          <div class="image-color-info-container">
            <div class="image-rgb">rgb: <%= i.colorText %></div>
            <div
              class="color-box"
              style="background-color: rgb(<%= i.color %>)"
            ></div>
          </div>
        </article>
        <% }) %>
      </section>
    </main>
  </body>
</html>
